body {
  background-color: black;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px
}

h1,
h2,
h3,
h4 {
  color: white;
}

.button {
  color: black;
  text-decoration: none;
}

a {
  color: orange;
}

a:hover {
  color: purple;
}

.shell {
  width: 100%;
}

.grid {
  text-align: center;
}

.shell>grid:first-child {
  display: flex;
  flex-direction: column;
}

.textbox {
  color: #CCCCCC;
  text-align: justify;
  font-family: 'calibri', sans-serif;
  font-size: 22px;
  width: 40%;
  min-width: 400px;
  margin: 0 auto;
  border-style: solid;
  border-color: #808080;
  border-width: 5px;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.streambox {}

.textbox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.textbox h1,
.textbox h2,
.textbox h3,
.textbox h4 {
  text-align: center;
}

.seperator {
  height: 1px;
  border-bottom: 3px solid #808080;
  width: 100%;
}

.text-seperator {
  height: 1px;
  border-bottom: 2px solid #303030;
  width: 80%;
  margin: auto;
}

.header {
  display: inline-block;
  width: 100%;
  height: 250px;
  text-align: center;
}

.title {
  height: 200px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
  display: flex;
}

.title .container {
  width: 100%;
  margin-top: -30px;
}

.title .container a {
  padding: 40px;
}


/* -------------------------------------------------------------------------- */
/* -----| NAVBAR |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* Setup Version*/

/* Setup NavBar */
.nav-section {
  font-family: 'calibri', sans-serif;
  font-size: 18px;
  position: sticky;
  align-self: start;
  font-weight: 300;
  color: #333;
  top: 0;
  grid-column: 1 / -1;
  grid-row: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.nav-section button {

  pointer-events: auto;
}

.nav-section a {
  transition: all 50ms ease-in-out;
  text-decoration: none;
  padding: .125rem 0;
  display: block;
  color: #CCC;
  pointer-events: auto;
}

.nav-section a:hover,
.nav-section a:focus {
  color: #666;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #888;
}

ul,
li {
  max-width: 200px;
}

ul {
  margin-left: 3rem;
}

li {
  margin-left: 2rem;
}

/* Setup Grid */
grid {
  display: grid;
  grid-template-columns: 1fr 100%;
}

/* Fix content to not be in the column with the NavBar */
.nav-content {
  grid-column: 2;
  grid-row: 1;
}

/* Make scrolling smooth */
html {
  scroll-behavior: smooth;
}

/* 
} */
button {
background-color: white;
border: none;
border-top-right-radius: .2em;
border-bottom-right-radius: .2em;
}
button:hover {
  filter: invert(100%);
}
#nav {
  overflow-y: scroll;
}
#nav.active {
  opacity: 1;
  background-color: black;
  transition-duration: 300ms;
  translate: 0%;
}

@media screen and (max-width:850px) {
  .nav-section ol {
    opacity: 0;
    translate: -50%;
    transition-duration: 300ms;
  }
}

@media screen and (min-width:851px) {
  #nav.active {
    background-color: transparent;
    translate: 0%;
  }
}