:root {
  --button-dim: 36px;
  scroll-behavior: smooth;
}
::-moz-selection {
  color: purple;
  background: orange;
}
::selection {
  color: purple;
  background: orange;
}
body {
  background-color: black;
  margin: 0;
}
h1,h2,h3,h4 {
  color: white;
}
html h1, html h2, html h3, html h4, html p{
  margin:3rem 0;
}
#version_label {
  font-family: 'calibri', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin: 2em 0;
}
a {
  color: orange;
}
a:hover {
  color: purple;
}
.shell {
  width: 100%;
}
.grid {
  text-align: center;
}
.shell>section:last-of-type {
  margin-top: 50px;
}
.shell>section:first-child {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.textbox {
  color: #CCCCCC;
  text-align: justify;
  font-family: 'calibri', sans-serif;
  font-size: 22px;
  width: 80%;
  min-width: 365px;
  max-width: 769px;
  border-style: solid;
  border-color: #808080;
  border-width: 5px;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.textbox.stream {
  padding: 20px 20px 50px;
  max-width: 1200px;
  border-style: none;
  width:50%
}
.streambox {
  padding-top: 56.25%;
  position: relative;
}
.streambox iframe {
  position: absolute;
  height: 100%;
  min-width: 400px;
  min-height: 300px;
  top: 0;
}
#twitch-embed {
  display: flex;
  justify-content: center;
}
.textbox img {
  display: block;
  margin: 3em auto;
  width: 60%;
}
.textbox img:first-child {
  margin-top: 0;
}
.paragraph_br > span {
  display: block;
}
.textbox p:last-child {
  margin-bottom: 0;
}

.textbox h1,.textbox h2,.textbox h3,.textbox h4 {
  text-align: center;
}
.seperator {
  height: 1px;
  border-bottom: 3px solid #808080;
  width: 100%;
}
.text-seperator {
  height: 1px;
  border-bottom: 2px solid #303030;
  width: 80%;
  margin: auto;
}
.title {
  margin: 2em auto;
}
.title .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
figure {
  margin: 0;

}
#nav {
  overflow-y: auto;
  background-color: black;
  padding: 1em;
  margin-left: 0;
}
#nav-container {
  font-family: 'calibri', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  height: 100vh;
  width: fit-content;
  position: sticky;
  top: 0;
  align-self: start;
  z-index: 2;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1;
  flex-direction: row-reverse;
}
#nav-container a {
  transition: color 50ms ease-in-out;
  text-decoration: none;
  padding: .125rem 0;
  display: block;
  color: #CCC;
}
#nav-container a:hover,
#nav-container a:focus {
  color: #666;
}
li,
figcaption a {
  list-style: none;
  color: #888;
}
ul {
  margin-top:0;
  margin-bottom:0;
}
section {
  display: grid;
  grid-template-columns: 1fr 100%;
}
.nav-content {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
button {
  position: relative;
  background-color: white;
  border: none;
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
  padding: 0;
}
button img {
  height: var(--button-dim);
  display: inline-block;
  vertical-align: middle;
}
button:hover {
  filter: invert()
}
#nav-section.active {
  justify-content: end;
}
#nav-section.active #nav-container {
  translate: 0;
  transition: 300ms;
}
#nav-container {
  translate: calc(-100% + var(--button-dim));
  transition: 300ms;
}

@media screen and (min-width:1300px) {
  .textbox {
    width: 60%;
  }
  .title .container {
    flex-direction: row;
  }
  #nav-container button {
    display: none;
  }
  #nav-container {
    translate: 0;
  }
  .streambox iframe {
    width: 100%;
  }
  .textbox.stream {
    border-style: solid;
    border-color: #808080;
    border-width: 5px;
    border-radius: 5px;
    min-width: 400px;
    box-sizing: content-box;
  }
}
@media screen and (max-width:400px) {
  .streambox iframe {
    min-width: 100%;
    min-height: auto;
  }
}